<!doctype html>
<html class="no-js" lang="">
  {% load fablocks %}
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Fucking awesome blocks</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- <link rel="apple-touch-icon" href="apple-touch-icon.png"> -->
    <!-- Place favicon.ico in the root directory -->
    <!-- <link rel="stylesheet" href="css/main.css"> -->
  </head>
  <body>

    {% fablock awesomeness %}

    <!-- <script src="js/main.js"></script> -->
  </body>
</html>
