body {
    padding-top: 70px;
}

.fab-navbar-right {
    margin-right: 0;
}


.fab-tree {
  margin: 0px 0px 0px 20px;
  list-style: none;
  line-height: 2em;
  font-family: Arial;
}
.fab-tree li {
  font-size: 16px;
  position: relative;
}
.fab-tree li:before {
  position: absolute;
  left: -15px;
  top: 0px;
  content: '';
  display: block;
  border-left: 1px solid #ddd;
  height: 1em;
  border-bottom: 1px solid #ddd;
  width: 10px;
}
.fab-tree li:after {
  position: absolute;
  left: -15px;
  bottom: -7px;
  content: '';
  display: block;
  border-left: 1px solid #ddd;
  height: 100%;
}
.fab-tree li.root {
  margin: 0px 0px 0px -20px;
}
.fab-tree li.root:before {
  display: none;
}
.fab-tree li.root:after {
  display: none;
}
.fab-tree li:last-child:after {
  display: none;
}
